<!DOCTYPE html>
<html>
<head>
<style>
html,body{
display:flex;
justify-content: center;
align-items: center;
flex-direction:column;
gap:10px;

}
h1{
text-align:center;
background-color:#554;
border:1px solid #997;
color:navy;
}
div{
backgroun-color:#423;
color:#997;
border:1px solid #423;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
height:200px;
width:200px;
}
</style>
</head>
<body>
<h1>PROFILE INFO.</h1>
<div >
    <p>roll number:{{data.roll}}</p>
    <p>name       :{{data.name}}</p>
    

</div>
<footer style="color:#345;cursor:pointer;border:1px solid green;"><a href="/App/student">Go Back</a>

</footer>
</body>
</html>