h1{
background-color:#5332;
color:rgb(60, 255, 0);
text-align:center;
border:1px solid #445;

}
table{
border:1px solid black;
border-collapse:collapse;
height:200px;
width:200px;
margin:0px auto;
text-align: center;


}
img{
height:200px ;
width:200px;
margin:0px auto;

}
table tr,td,th{
border:1px solid black;}